#container 
{
	padding-top: 30px;
}

//players.php

#equipment{
	width:350px; 
	height:579px;
	background-image:url("art/gui/equipment/eq_background.png");
	}
#name{
	position:relative;
	width:100%;
	height:16px;
	text-align:center;
	padding-top:20px;
}